<div *ngIf="!loaders.stops && !loaders.trackingPoints">
  <button (click)="startTracking()">Start Simulation</button>
  <agm-map
    [latitude]="busPosition.lat"
    [longitude]="busPosition.lng"
    [zoom]="16"
    [disableDefaultUI]="false"
    [zoomControl]="false"
  >
    <agm-circle
      *ngFor="let stop of stops"
      [latitude]="stop.lat"
      [longitude]="stop.lng"
      [radius]="20"
      [fillColor]="'red'"
      [circleDraggable]="false"
      [fillOpacity]="1"
      [editable]="false"
    >
      ></agm-circle
    >

    <agm-marker
      [latitude]="busPosition.lat"
      [longitude]="busPosition.lng"
      [label]="'Bus'"
    ></agm-marker>
    <agm-polyline strokeColor="blue">
      <agm-polyline-point
        *ngFor="let point of busTrackingPoints"
        [latitude]="point.lat"
        [longitude]="point.lng"
      ></agm-polyline-point>
    </agm-polyline>
  </agm-map>
</div>
