agm-map {
  height: 100vh;
  width: 100%;
}


* {
  font-family: sans-serif;
}
.primary-button{
  cursor: pointer;
  background-color: #1b9ae4; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  margin: 20px;
}
.disabled,
:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}