<agm-map [latitude]="busPosition.lat" [longitude]="busPosition.lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
 (mapClick)="mapClicked($event)">
	<agm-marker *ngFor="let stop of stops" [latitude]="stop.lat" [longitude]="stop.lng"></agm-marker>
  <agm-marker  [latitude]="busPosition.lat" [longitude]="busPosition.lng"></agm-marker>
	<agm-polyline strokeColor="blue">
		<agm-polyline-point *ngFor="let point of busTrackingPoints" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
	</agm-polyline>

</agm-map>
